body {
  	background-image: url('fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
  	font-family: Arial, sans-serif;
}

form h1 {
	margin: 5px 0 5px 0;
	color: #400040;
	font-size: 40px;
	text-align: center;
}

form {
  	width: 400px;
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    top: 50%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

#selecionar-ucs{
	width:500px;
}

label {
  	font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

input[type="submit"] {
	width:90%;
	border: none;
	border-radius: 15px;
  	background-color: #c0c0c0;
	border: none;
	color:black;
	margin: 5px 5% 5px 5%;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  	background-color: #adfe87;
}

#calendario{
	background-image: url('https://img.freepik.com/vetores-gratis/fundo-branco-monocromatico-de-estilo-de-papel_23-2149001605.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

#legend {
  	margin: 20px 0;
  	justify-content: center;
  	align-items: center;
 
}